version: "3"

services:
  # FastAPI
  api:
    container_name: "backend"
    build:
      context: .
    restart: always
    working_dir: "/var/www/src"
    volumes:
      - .:/var/www
    tty: true
    ports:
      - 8000:8000
    command: uvicorn main:api --reload --host 0.0.0.0 --port 8000
